<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.loh.skint">

    <uses-permission android:name="android.permission.REORDER_TASKS"/>

    <application
        android:name=".SkintApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Skint">

        <activity
            android:name=".ui.account.list.AccountListActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.account.overview.OverviewActivity"
            android:label="@string/title_account_overview"/>

        <activity
            android:name=".ui.account.create.AccountCreateActivity"
            android:label="@string/title_account_create"/>

        <activity
            android:name=".ui.record.list.RecordListActivity"
            android:label="@string/title_records_list"/>

        <activity
            android:name=".ui.record.create.RecordCreateActivity"
            android:label="@string/title_records_create"/>

        <activity
            android:name=".ui.category.list.CategoryListActivity"
            android:label="@string/title_category_list"/>

        <activity
            android:name=".ui.icon.AccountIconListActivity"
            android:label="@string/title_account_icon_select"/>

    </application>

</manifest>
