<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.loh.skint">

    <uses-permission android:name="android.permission.REORDER_TASKS"/>

    <application
        android:name=".SkintApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Skint"
        tools:replace="android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.account.list.AccountListActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.onboard.OnboardActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".ui.account.overview.OverviewActivity"
            android:label="@string/title_account_overview"/>

        <activity
            android:name=".ui.account.create.AccountCreateActivity"
            android:label="@string/title_account_create"/>

        <activity
            android:name=".ui.record.list.RecordListActivity"
            android:label="@string/title_records_list"/>

        <activity
            android:name=".ui.record.create.RecordCreateActivity"
            android:label="@string/title_records_create"/>

        <activity
            android:name=".ui.category.list.CategoryListActivity"
            android:label="@string/title_category_list"/>

        <activity
            android:name=".ui.goal.list.GoalListActivity"
            android:label="@string/title_goals"/>

        <activity
            android:name=".ui.goal.detail.GoalDetailActivity"
            android:label="@string/title_goal"/>

        <activity
            android:name=".ui.goal.create.GoalCreateActivity"
            android:label="@string/title_goal_add"/>

    </application>

</manifest>
